<div class="projects-popup">
    <h4 class="text-center"  i18n="project_stats"></h4>

    <div ng-if="project.avgMergeTime || project.avgFirstReviewTime">
        <table class="small table table-condensed table-striped">
            <tbody>
                <tr ng-if="project.avgMergeTime > 0">
                    <th scope="row" i18n="average_merge_time"></th>
                    <td class="text-right" ng-bind="project.avgMergeTime"></td>
                </tr>
                <tr ng-if="project.avgFirstReviewTime > 0">
                    <th scope="row" i18n="average_first_review_time"></th>
                    <td class="text-right" ng-bind="project.avgFirstReviewTime"></td>
                </tr>
            </tbody>
        </table>

        <div class="small text-center">(for {{filter}}, in minutes)</div>
    </div>

    <div class="small" ng-if="!(project.avgMergeTime || project.avgFirstReviewTime)">
        No data at this time.
    </div>
</div>
