<div class="row" ng-controller="dashboardController">
    <div class="dashboard-item col-md-4">
        <div class="dash">
            <span class="dash-info" i18n="total_number_of_projects"></span>
            <h1><span class="label label-info" ng-bind="numberOfProjects"></span></h1>
        </div>
    </div>
    <div class="dashboard-item col-md-4">
        <div class="dash">
            <span class="dash-info" i18n="number_of_open_reviews"></span>
            <h1><span class="label label-info" ng-bind="numberOfOpenReview"></span></h1>
        </div>
    </div>
    <div class="dashboard-item col-md-4">
        <div class="dash">
            <span class="dash-info" i18n="average_review_interval"></span>
            <h1><span class="label label-info" ng-bind="averageReviewInterval"></span></h1>
        </div>
    </div>
</div>